.ICEauthority
.NERDTreeBookmarks
.android/*
.angular-config.json
.att_backups/*
.bash_history
.bash_logout
.bash_profile
.bashrc
.bin/*
.cabal/*
.cache/*
.conkyrc
.config/Code - OSS/
.config/GIMP/
.config/JetBrains/
.config/Kingsoft/
.config/Kvantum/
.config/QtProject.conf
.config/Thunar/
.config/Trolltech.conf
.config/arcolinux-betterlockscreen/
.config/arcolinux-logo/
.config/arcolinux-tweak-tool/
.config/arcolinux-welcome-app/
.config/arcologout/
.config/autostart/
.config/calibre/
.config/catfish/
.config/chromium/
.config/coc/
.config/configstore/
.config/conky/
.config/dconf/
.config/evince/
.config/evolution/
.config/fontconfig/
.config/galculator/
.config/geany/
.config/ghostwriter/
.config/google-chrome/
.config/gpick/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/i3/
.config/inkscape/
.config/jgit/
.config/libfm/
.config/libreoffice/
.config/menus/
.config/mimeapps.list
.config/nano/
.config/neofetch/
.config/nitrogen/
.config/nomacs/
.config/obmenu-generator/
.config/openbox/
.config/pamac/
.config/pcmanfm/
.config/picom.conf
.config/pipewire-media-session/
.config/plank/
.config/polybar/
.config/pragha/
.config/pulse/
.config/qt5ct/
.config/ristretto/
.config/rofi/
.config/termite/
.config/tint2/
.config/user-dirs.*
.config/variety/
.config/vifm/
.config/vivaldi/
.config/vlc/
.config/volumeicon/
.config/xfce4/
.config/yad.conf
.dmrc
.eclipse/*
.emacs.d/*
.emacs~
.face
.fehbg
.ghc/*
.gmrun_history
.gnome/*
.gnupg/*
.gradle/*
.gtkrc-2.0
.java/*
.lesshst
.local/*
.m2/*
.mozilla/*
.mume/*
.npm/*
.p2/*
.pipewire-media-session/*
.pki/*
.python_history
.screenlayout/*
.screenrc
.ssh/*
.stack/*
.swt/*
.thumbnails/*
.tooling/*
.tor-browser/*
.vim/*
.viminfo
.vscode-oss/*
.xinitrc
.xsession
.xsession-errors
.xsession-errors.old
.xsessionrc
.zshrc
Calibre Library/*
Desktop/*
Documents/*
Downloads/*
Music/*
Pictures/*
Public/*
Templates/*
Videos/*
eclipse-workspace/*
eclipse/*
.Xauthority
.Xresources
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad.errors
.xmonad/lib/MyKeysConfig.hi
.xmonad/lib/MyKeysConfig.o
